{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}

    <div class="example-wrapper">

        <div class="d-flex justify-content-around">
            <h1>Il y a {{ projects | length }} projets actuellement.</h1>
            <a class="button-create" href="{{ path('create_project') }}">Créer un projet</a>
        </div>
        {% for project in projects %}
            <h2>Nom du projet : {{ project.name }}</h2>
            <p>Description du projet : {{ project.description }}</p>
            <p>Tags :</p>
            <ul>
                {% for tag in project.tags %}
                    <li>{{ tag.name }}</li>
                {% endfor %}
            </ul>
            <div>
                <img src="{{ project.image }}" alt="">
            </div>
            <p>Date de création du projet : {{ project.createdAt | date('d/m/y h:i:s') }}</p>
        {% endfor %}

    </div>
{% endblock %}
