{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}

    <div class="example-wrapper">

        <a href="{{ path('create_project') }}">Créer un projet</a>

        {% for project in projects %}
            <h1>Nom du projet : {{ project.name }}</h1>
            <p>Description du projet : {{ project.description }}</p>
            <div>
                <img src="{{ project.image }}" alt="">
            </div>
            <p>Date de création du projet : {{ project.createdAt | date('d/m/y h:i:s') }}</p>
        {% endfor %}

    </div>
{% endblock %}
